extends layouth

append jscss
    
append content
    for cli in clientes
        .col.full.m-half
            .card
                .card-image
                    img.activator(src="/img/header-asesor.jpg", alt="user bg")
                .card-content.light-blue.lighten-4
                    img.circle.responsive-img.activator.card-profile-image.p-2(src="/img/avatar.png", alt="")
                    span.card-title.activator.grey-text.text-darken-4= cli.nom_cli
                    .pt-2
                        img.icon.va-middle(src="/img/icons/icons8_Collaborator_Male_50px.png", alt="")
                        p.inline Cliente
                    .pt-2
                        img.icon.va-middle.inline(src="/img/icons/icons8_Phone_50px.png", alt="")
                        p.inline= cli.tel_cli
                    .pt-2
                        img.icon.va-middle.inline(src="/img/icons/icons8_Envelope_50px.png", alt="")
                        p.inline= `Direccion Negocio: ${cli.din_cli}`
                
                .card-reveal
                    span.card-title.display-container.grey-text.text-darken-4= cli.nom_cli
                    div
                        img.icon.va-middle(src="/img/icons/icons8_Collaborator_Male_50px.png", alt="")
                        p.inline Cliente
                    div
                        img.icon.va-middle.inline(src="/img/icons/icons8_Phone_50px.png", alt="")
                        p.inline= cli.tel_cli
                    div
                        img.icon.va-middle.inline(src="/img/icons/icons8_Envelope_50px.png", alt="")
                        p.inline= cli.ema_cli
                    div
                        img.icon.va-middle.inline(src="/img/icons/icons8_Envelope_50px.png", alt="")
                        p.inline= `Direccion Negocio: ${cli.din_cli}`
                    div
                        img.icon.va-middle.inline(src="/img/icons/icons8_Envelope_50px.png", alt="")
                        p.inline= `Direccion Casa: ${cli.dih_cli}`
    //- 
    //- section.margin.beautyCard.floating.white
    //-     .container.margin-t
    //-         p.margin0.marginy 
    //-             img.icon.va-middle.margin-r(src="/img/icons/indigo/icons8_Stocks_50px.png", alt="")
    //-             b.deep-purple-text.text-darken-2 Cartera
    //-     .divider
    //-     .section.row
    //-         .data.inline.w.quarter
    //-             h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Nombre
    //-         .data.inline.w.quarter
    //-             h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Direccion de negocio
    //-         .data.inline.w.quarter
    //-             h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Direccion de hogar
    //-         .data.inline.w.quarter
    //-             h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Telefono
    //-     - var n = 0
    //-     while n < (clientes.length < 10 ? clientes.length : 10)
    //-         .section.row
    //-             .data.inline.w.quarter
    //-                 h5.va-middle.ha-middle
    //-                     b.light-blue-text.text-darken-3= clientes[n].nom_cli
    //-             .data.inline.w.quarter.row
    //-                 .w.sixth &nbsp;
    //-                 h5.va-middle.ha-middle.w.twothird
    //-                     b.light-blue-text.text-darken-3.blocked= clientes[n].din_cli
    //-             .data.inline.w.quarter.row
    //-                 .w.sixth &nbsp;
    //-                 h5.va-middle.ha-middle.w.twothird
    //-                     b.light-blue-text.text-darken-3.blocked= clientes[n].dih_cli
    //-             .data.inline.w.quarter
    //-                 h5.va-middle.ha-middle
    //-                     b.light-blue-text.text-darken-3= clientes[n++].tel_cli
