extends layouth

append jscss
    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')

append content
  - var montoap= cliente.mod_pre
  - var action= '/asesor/pago/'+ cliente.id_cli  
  .rows
  
  blockquote  
    h2= cliente.nom_cli
    

  br
  .divider
  .section
        p  #{cliente.dih_cli}
        p  #{cliente.din_cli}
        p  #{cliente.tel_cli}
        p  #{cliente.mod_pre}  
      
  .divider
  .section
      if message
          p= message
      if !message
       .row
         form.col.s12(method="post" action=action)
          .row
            .input-filed.col.s6
                input(value=montoap type="text" id="montoa" class="validate" disabled)
                label(for="montoa") Monto a pagar
            .input-filed.col.s6
                input(placeholder="Monto recibido" type="text" id="monto" name="montorecibido" class="validate")
                label(for="monto") Monto recibido
          .row
            .input-filed.col.s12
                input(placeholder="Comentario" type="text" id="comen" class="validate" name="comen")
                label(for="comen") Comentario
          .row
            .input-filed.col.s12
                input(value="Envíar" type="submit" class="validate")

  
