extends layouth

append jscss
    //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    style(type="text/css").
        .card-content {
            background-color: transparent;
        }
        .card-reveal {
            width: auto !important;
            height: auto !important;
        }
        .payment {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        button.register-payment {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card button{
            width: 100%;
        }
        .nav {
            padding: 1%;
        }
        .nav input:focus {
            border-bottom: none !important;
            box-shadow: none !important
        }
        input[type="search"]::-webkit-search-cancel-button {
            display: none;
        }
append content
    section.margin.beautyCard.floating.white
        // tienen un desmadre de css, no copien y peguen de otros frameworks, o lo usan todo y luego lo personalizan o no lo usan y hacen todo
        div.nav
            div.nav-wrapper
                form#search
                    div.input-field
                        input#search-input(type="search", placeholder="Busca un cliente" onkeyup='filtrarlist()')
                        label.label-icon(for="search")
                            i.material-icons search
                        i.material-icons close
        ul
          each cliente, i in clientes
            li(id="ele"+i)
              div.col.s12
                  div.card
                      div.card-content
                          span.card-title(id=''+i)= cliente.nom_cli
                          p= cliente.din_cli
                          p= cliente.tel_cli
                          p.payment Pago diario:
                              span.flow-text= `$${prestamos[i].mod_pre}`
                          p.payment Pago faltante:
                              span.flow-text= `$${prestamos[i].mof_pre}`
                          a(href='/asesor/cliente/'+cliente.id_cli) Cobrar
                      div.card-reveal
                          span.card-title Registrar pago
                              i.material-icons.right close
                          form.register-payment
                              div.input-field
                                  input.incomplete-payment-amount#incomplete-payment-amount(type="number", value=`${prestamos[i].mod_pre}`)
                                  label(for="incomplete-payment-amount") Monto que pagó ($)
                                  span.helper-text.red-text
                              button.register-payment.btn(type="submit")
                                  i.material-icons check
                                  span Registrar pago
    //-script(type="text/javascript", src="/js/cobros.js")
