extends layouth

append jscss
    //- link(rel='stylesheet', href='/css/cliente.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
append content    
    if user.id_tus == 1
        -var parseDate = function parseDate(date) { let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"]; let meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]; return `${dias[date.getDay()]} ${date.getDate()} de ${meses[date.getMonth()]} del ${date.getFullYear()}`; }
        //-     Datos del Prestamo
        section.margin.beautyCard.floating.white
            .container.margin-t
                p.margin0.marginy
                    img.icon.va-middle.margin-r(src="/img/icons/indigo/icons8_Credit_Card_50px.png", alt="")
                    b.deep-purple-text.text-darken-2 Prestamo
            .divider
            .section.row
                .data.inline.w.fifth
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 N° Prestamo
                    h3.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= user.id_pre
                .data.inline.w.fifth
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Fecha del prestamo
                    h5.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= parseDate(user.fec_pre)
                .data.inline.w.fifth
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Cantidad
                    h3.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= `$${user.moi_pre}`
                .data.inline.w.fifth
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Monto faltante
                    h3.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= `$${user.id_pre}`
                .data.inline.w.fifth
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Monto diario
                    h3.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= `$${user.id_pre}`
            .container.marginy-t
                p.margin0.margin-l.marginy-b.grey-text.text-darken-3 Asesor
            .divider.w.half.margin-l
            .section.row
                .data.inline.w.sixth &nbsp;
                .data.inline.w.quarter
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Nombre
                    h3.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= user.nom_ase
                .data.inline.w.sixth &nbsp;
                .data.inline.w.quarter
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Celular
                    h3.va-middle.ha-middle
                        b.light-blue-text.text-darken-3= user.tel_ase
        //-     Historial de pagos
        section.margin.beautyCard.floating.white
            .container.margin-t
                p.margin0.marginy 
                    img.icon.va-middle.margin-r(src="/img/icons/indigo/icons8_Stocks_50px.png", alt="")
                    b.deep-purple-text.text-darken-2 Pagos
            .divider
            .section.row
                .data.inline.w.third
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Monto pagado
                .data.inline.w.third
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Fecha
                .data.inline.w.third
                    h6.va-middle.sub_title.ha-middle.grey-text.text-darken-1 Comentario
            for pago in pagos
                .section.row
                    .data.inline.w.third.row
                        .w.third &nbsp;
                        h3.va-middle.ha-middle.w.third
                            b.light-blue-text.text-darken-3.blocked= `$${pago.mon_pag}`
                    .data.inline.w.third.row
                        .w.sixth &nbsp;
                        h5.va-middle.ha-middle.w.fivesixth
                            b.light-blue-text.text-darken-3.blocked= parseDate(pago.fec_pag)
                    .data.inline.w.third
                        h6.va-middle.ha-middle
                            b.light-blue-text.text-darken-3.blocked= pago.com_pag
    else if user.id_tus == 2
        p hola asesor
        p= user.nom_ase
        p= user.id_tus
        p= message
        
    else if user.id_tus == 3
      blockquote
        h2= user.nom_ger
      .row
        .col.s4
        .col.s4
        .col.s4  
          input.right-align(placeholder='Filtrar asesor')
      //- Multiproceso: Muchos procesadoress con un proceso cada uno
      //- Multitarea: Varios procesos en un procesador
      br
      .divider
      .section
        table.responsive-table
          thead 
            tr  
              th Nombre del Asesor
              th Zona
              th
          tbody
            each asesor in asesores
              tr
                td= asesor.nom_ase
                td= asesor.nom_zon
                td 
                  a.btn(href="/gerente/asesor/"+asesor.id_ase) Más detalles
                  a.btn(href="/geolocalizacion/"+asesor.id_ase) Geolocalizar
              
      br
      a(href="/admin/registrar")
        p Ir a agregar
    else if user.id_tus == 4
        p hola Administrador
        p= user.nom_usu
        p= user.id_tus
    else 
        p necesitas iniciar sesion
