extends layouth

append jscss
    link(rel='stylesheet', href='/css/cliente.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
append content    
    if user.id_tus == 1
        blockquote
          h2= user.nom_usu
        .row
          .col.s4
          .col.s4
          .col.s4  
            input.right-align(placeholder='Filtrar pago')
        
        br
        .divider
        .section
          table.responsive-table
            thead 
              tr  
                th Id pago
                th Monto pagado
                th Fecha pago
                th Comentario
            tbody
              for pago in pagos
                tr
                  td= pago.id_pag
                  td= pago.mon_pag
                  td= pago.fec_pag
                
        br
        a(href="/agregarusuario")
          p Ir a agregar 
    else if user.id_tus == 2
        p hola asesor
        p= user.nom_usu
        p= user.id_tus
    else if user.id_tus == 3
        p hola gerente
        p= user.nom_usu
        p= user.id_tus
    else if user.id_tus == 4
        p hola Administrador
        p= user.nom_usu
        p= user.id_tus
    else 
        p necesitas iniciar sesion
